<div class="container">

    <p class="bg-danger error-box" ng-show="error.showError">
        {{error.text}}
    </p>
    
    <div ng-include src="'views/player.html'"></div>
    
    <div class="margin-top-10px">
	<a class="btn btn-default" href="#match/{{matchId}}/inventory" role="button">&laquo; Back</a>
    </div>
    
    <h2>Buy equipment</h2>

    <div class="row">
	<h4>{{departmentId}} ({{building.departments[departmentId].numberOfCabinets}} / {{building.departments[departmentId].maxSpaceUnits}})</h4>
	<div class="col-md-5 estate-box" ng-repeat="cabinet in currentCity.availableCabinet[departmentId]">
	    <div>
		<label>{{cabinet.name}}</label>
		<h5>Owning: {{cabinet.quantity}}</h5>
		<h5>Max. output: {{cabinet.capacity}}</h5>
		<h5>Costs/month: {{cabinet.monthlyCosts | money}} $</h5>
		<span class="lead">Price: {{cabinet.price | money}} $</span>
		<h5 class="lead">Quantity:</h5>
		<button class="btn btn-default" role="button" ng-click="decreaseCabinetQuantity(cabinet)">-</button>
		<span>{{cabinet.quantityToBuy}}</span>
		<button class="btn btn-default" role="button" ng-click="increaseCabinetQuantity(cabinet)">+</button>
		<button class="btn btn-danger" role="button" ng-click="buyCabinet(cabinet)" 
			ng-hide="building.departments[departmentId].numberOfCabinets === building.departments[departmentId].maxSpaceUnits">Buy</button>
	    </div>
	</div>
    </div>

</div>


