<div class="container">

    <div ng-include src="'views/player.html'"></div>
    
    <div class="margin-top-10px">
	<a class="btn btn-default" href="#match/{{matchId}}/employees" role="button">&laquo; Back</a>
    </div>
    
    <h2>Current Employees</h2>

    <div class="row">
	<div class="col-md-5 estate-box" ng-repeat="person in building.personnel">
	    <div>
		<label>Person</label>
		<h5>Department: {{person.departmentType}}</h5>
		<h5>Age: {{person.age}}</h5>
		<h5>Power: {{person.power}}</h5>
		<h5>Quality: {{person.quality}}</h5>
		<h5>Sallary/month: {{person.monthlyCosts | money}} $</h5>
		<button class="btn btn-danger" role="button" ng-click="firePerson(person.id)">Fire</button>
	    </div>
	</div>
    </div>

</div>


