<div class="container">

    <div ng-include src="'views/player.html'"></div>
    
    <div class="margin-top-10px">
	<a class="btn btn-default" href="#match/{{matchId}}" role="button">&laquo; Back</a>
    </div>
    
    <h2>Employees</h2>

    <div class="row">
	<div ng-repeat="estate in player.estates">
	    <div class="col-md-8 estate-box" ng-show="estate.building !== null">
		<label>{{estate.building.buildingType.name}}</label>
		<p>Square meter: {{estate.building.buildingType.squareMeters}}</p>
		<p>Dininghall: {{estate.building.departments['Dininghall'].personnel.length}}</p>
		<p>Reefer: {{estate.building.departments['Reefer'].personnel.length}}</p>
		<p>Laundry: {{estate.building.departments['Laundry'].personnel.length}}</p>
		<p>Facilities: {{estate.building.departments['Facilities'].personnel.length}}</p>
		<p>Kitchen: {{estate.building.departments['Kitchen'].personnel.length}}</p>
		<a href="#match/{{matchId}}/employees/{{estate.building.id}}/hire" class="btn btn-default" role="button">Hire Employees</a>
	    </div>
	</div>
	
    </div>

</div>


