<div class="container">

    <p class="bg-danger error-box" ng-show="error.showError">
        {{error.text}}
    </p>
    
    <h2>Matches</h2>

    <h3>My active matches</h3>
    
    <p ng-show="myMatches.length === 0">No active matches</p>
    
    <ul>
	<li ng-repeat="match in myMatches">
	    <a href="#/match/{{match.id}}" ng-show="{{playerToken === match.currentPlayer.id}}">Match agains {{match.opponent.name}}</a>
	    <span ng-show="{{playerToken !== match.currentPlayer.id}}">Match agains {{match.opponent.name}}</span>
	    <span ng-show="{{playerToken !== match.currentPlayer.id}}">Status: Waiting for other players turn</span>
	    <span ng-show="{{playerToken === match.currentPlayer.id}}">Status: {{match.status}}</span>
	    <button class="btn btn-default btn-danger btn-xs" ng-click="deleteMatch(match.id)">Delete</button>
	</li>
    </ul>

    <h3>Actions</h3>
    <button class="btn" ng-click="createMatch()">Start new match</button>
    <button class="btn" ng-click="joinRandomMatch()">Join random match</button>
</div>


