<div class="container">

    <h3>Match XY</h3>
    
    <div class="row">
	<div class="player-info">
	    <span class="label">PLAYER {{player.name}}</span>
	    <div class="left-padding-5px">
		<span class="label-money">{{player.money | money}} $</span>
		<p>currently in {{player.currentCity.name}}</p>
	    </div>
	</div>
    </div>

    <div class="row">
	<div class="col-md-4">
	    <h2>Trainstation</h2>
	    <p></p>
	    <p><a class="btn btn-default" href="#match/{{matchId}}/trainstation" role="button">Enter &raquo;</a></p>
        </div>
        <div class="col-md-4">
	    <h2>Estates</h2>
	    <p>Owning: {{player.estates.length}}</p>
	    <p><a class="btn btn-default" href="#match/{{matchId}}/estates" role="button">Enter &raquo;</a></p>
        </div>
        <div class="col-md-4">
	    <h2>Buildings</h2>
	    <p>Owning: {{player.buildings.length}}</p>
	    <p><a class="btn btn-default" href="#match/{{matchId}}/buildings" role="button">Enter &raquo;</a></p>
	</div>
        <div class="col-md-4">
	    <h2>Staff</h2>
	    <p></p>
	    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

</div>


