<div class="container">

    <h3>Match against {{opponent.name}}</h3>
    
    <div ng-include src="'views/player.html'"></div>
    
    <div class="margin-top-10px">
	<a class="btn btn-default" href="#lobby" role="button">&laquo; Lobby</a>
    </div>

    <div class="row">
	<div class="col-md-4">
	    <h2>Trainstation</h2>
	    <p>currently in {{player.currentCity.name}}</p>
	    <p><a class="btn btn-default" href="#match/{{matchId}}/trainstation" role="button">Enter &raquo;</a></p>
        </div>
        <div class="col-md-4">
	    <h2>Estates</h2>
	    <p>Owning: {{player.estates.length}}</p>
	    <p><a class="btn btn-default" href="#match/{{matchId}}/estates" role="button">Enter &raquo;</a></p>
        </div>
        <div class="col-md-4">
	    <h2>Buildings</h2>
	    <p>Owning: {{player.numBuildings}}</p>
	    <p><a class="btn btn-default" href="#match/{{matchId}}/buildings" role="button">Enter &raquo;</a></p>
	</div>
        <div class="col-md-4">
	    <h2>Employees</h2>
	    <p></p>
	    <p><a class="btn btn-default" href="#match/{{matchId}}/employees" role="button">Enter &raquo;</a></p>
        </div>
    </div>
    
    <div class="row margin-top-50px">
	<div class="col-md-12">
	    <button class="btn btn-warning btn-block" ng-click="endTurn()">End turn</button>    
	</div>
    </div>

</div>


